<header>
    <div class="logo">
        <i class='bx bxs-flame'></i>
        <span>BlazeCode Docs</span>
    </div>

    <div class="content-body">

        <div class="search-box">
            <input type="search" placeholder="Search" class="search">
            <i class='bx bx-search'></i>
        </div>


        <div class="menu">
            <nav>
                <ul>
                    <li><a href="BlazeGuard/src/html/home.html">Home</a></li>
                    <li><a href="BlazeGuard/src/html/about.html">About</a></li>
                    <li><a href="BlazeGuard/src/html/services.html">Services</a></li>
                    <li><a href="BlazeGuard/src/html/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="toggle-button">
            <button type="button" class="switch" title="toggle dark mode">
                <span class="icon">
                    <i class='bx bx-sun off'></i>
                    <i class='bx bx-moon on'></i>
                </span>
            </button>
        </div>

        <div class="social">
            <ul>
                <li><a href="https://www.github.io/" title="github"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/" title="instagram"><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.twitter.com/" title="X"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</header>