<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlazeCode Docs</title>
    <link rel="stylesheet" href="../../src/components/header/header.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="../../assets/icons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/docs.css">

</head>

<body>
    <div class="body-content-container">

        <header>
            <div class="logo">
                <i class='bx bxs-flame'></i>
                <span>BlazeCode Docs</span>
            </div>

            <div class="content-body">

                <div class="search-box">
                    <input type="search" placeholder="Search" class="search">
                    <i class='bx bx-search'></i>
                </div>


                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="BlazeGuard/src/html/home.html">Home</a></li>
                            <li><a href="BlazeGuard/src/html/about.html">About</a></li>
                            <li><a href="BlazeGuard/src/html/services.html">Services</a></li>
                            <li><a href="BlazeGuard/src/html/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="toggle-button">
                    <button type="button" class="switch" title="toggle dark mode">
                        <span class="icon">
                            <i class='bx bx-sun off'></i>
                            <i class='bx bx-moon on'></i>
                        </span>
                    </button>
                </div>

                <div class="social">
                    <ul>
                        <li><a href="https://www.github.io/" title="github"><i class="fa-brands fa-github"></i></a></li>
                        <li><a href="https://www.instagram.com/" title="instagram"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.twitter.com/" title="X"><i class="fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>


        <aside class="docs-aside-left">
            <p>Tutorials</p>
            <ul>
                <li>Blink</li>
                <li>Fading a LED</li>
                <li>Read Analog Voltage</li>
            </ul>
        </aside>

        <div class="docs-content-section">
            <div class="docs-middle-content">
                        
        <pre><code class="code-cpp">
        </code></pre>
        
                </section>
                <span class="break-line"></span>
                <div class="next-page-section">
                    <div></div>
                    <div>
                        <p>next page</p>
                        <p>creating new paper</p>
                    </div>
                </div>
            </div>

            <aside class="docs-aside-right">
                <a href="#fadingLED">
                    <p>on this page</p>
                </a>
                <ul>
                    <li><a href="#hardwareRequired">Hardware Required</a></li>
                    <li><a href="#circuit">Circuit</a></li>
                    <li><a href="#code">Code</a></li>
                </ul>
            </aside>

        </div>

    </div>

    <script src="../js/app.js"></script>
</body>

</html>