:root {
    --primary-color: tomato;
    --dark-bg: #20262e;
    --light-bg: #f9fafb;
}

/*----------------*\
#css reset
\*----------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: rgb(41, 37, 35);
    overflow-y: auto;
}

html {
    scroll-padding-top: 72px;
    scroll-behavior: smooth;
}

body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--light-bg);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: tomato;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul {
    cursor: pointer;
}

/*----------------*\
#body-content-container
\*----------------*/
.body-content-container {
    width: 80%;
    position: relative;
}

/*----------------*\
#docs-section
\*----------------*/

.docs-section {
    display: flex;
    height: 100%;
    width: 100%;
}

/*----------------*\
#docs-aside-left
\*----------------*/

.docs-aside-left {
    position: fixed;
    padding-top: 75px;
    height: 100vh;
    width: 15%;
    overflow-y: auto;

    @supports (overscroll-behavior: contain) {
        overscroll-behavior: contain;
    }
}

.docs-aside-left>* {
    width: 80%;

}

.docs-aside-left ul {
    margin: 0 auto;
}

.docs-aside-left ul li {
    list-style-type: none;
    border-left: 2px solid #0000006f;
    padding: 0.3rem 0 0.3rem 1rem;
}

.docs-aside-left ul li.dark-mode {
    border-left: 2px solid #ebe9e1b9;
}

.docs-aside-left li:hover {
    border-left: 2px solid tomato;
}

.docs-aside-left ul li.dark-mode:hover {
    border-left: 2px solid tomato;
}

.docs-aside-left p {
    margin: 0 auto 1rem auto;
    font-size: 1.2rem;
    font-weight: 600;
}


/*----------------*\
#docs-content-section
\*----------------*/

.docs-content-section {
    position: absolute;
    left: 20%;
    top: 72px;
    width: 80%;
}

.docs-content-section ul li {
    list-style-type: disc;
}

.docs-content-section ul {
    padding-left: 1.25rem;
}



/*----------------*\
#docs-middle-content
\*----------------*/

.docs-middle-content {
    width: 80%;
    padding: 0 1rem;
}

.docs-middle-content>p {
    margin-bottom: 1rem;
}

.docs-middle-content>h1,
h2 {
    margin: 0.7rem 0px;
    font-weight: 550;
}

.docs-middle-content>h1 {
    font-size: 2rem;
    margin-top: 0;
}

@media (max-width: 768px) {

    .docs-aside-left,
    .docs-aside-right {
        display: none;
    }

    body {
        font-size: 15px;
    }

    .body-content-container {
        width: 100%;
    }

    .docs-content-section {
        width: 100%;
        position: relative;
        left: 0;
    }

    .docs-middle-content {
        width: 100%;
    }
}

/*----------------*\
#docs-aside-right
\*----------------*/

.docs-aside-right {
    position: fixed;
    right: 19%;
    top: 60px;
    transform: translate(70%, 10%);
}

.docs-aside-right ul li {
    list-style-type: none;
    border-left: 2px solid #0000006f;
    padding: 0.3rem 0 0.3rem 1rem;
}

.docs-aside-right ul li.dark-mode {
    border-left: 2px solid #ebe9e1b9;
}

.docs-aside-right ul li:hover {
    border-left: 2px solid tomato;
}

.docs-aside-right ul li.dark-mode:hover {
    border-left: 2px solid tomato;
}

.docs-aside-right p {
    margin: 0 0 1rem 1rem;
    text-transform: uppercase;
    font-size: 1rem;
}
.docs-aside-right ul li{
    transition: border 0.5s ease;
}

.docs-aside-right ul li a.active {
    transition: color 0.5s ease;
}

.docs-aside-right ul li a.active {
    color: tomato;
}

.docs-aside-right ul li:has(a.active){
    border-left: 2px solid tomato;
}

/*----------------*\
#break line
\*----------------*/

.break-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #d8d3c4;
    margin: 3rem 0px;
}

/*----------------*\
#next-page-section
\*----------------*/
.next-page-section {
    display: flex;
    gap: 3rem;
}

.next-page-section>div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    width: 100%;
    border: 1px solid #d8d3c4;
    font-size: 0.8rem;
    border-radius: 10px;
}

.next-page-section>div {
    transition: transform 0.3s ease;
}

.next-page-section>div:hover {
    border: 1px solid tomato;
    transform: scale(1.05);

}


/*----------------*\
#inline code 
\*----------------*/

.inline-code {
    background-color: #f6f6f7;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    color: tomato;
}

.inline-code.dark-mode {
    background-color: rgba(153, 161, 179, 0.1);
}

/*----------------*\
#code block
\*----------------*/

pre {
    white-space: pre;
    display: block;
}

pre code {
    display: block;
}

.code-keyword,
.code-number,
.variable-name,
.function-call,
.comment-line,
.comment-block {
    display: inline;
}

.variable-name {
    color: tomato;
}

.code-number {
    color: rgb(144, 200, 203);
}

.code-comment {
    color: rgb(132, 149, 151);
}

.function-name {
    color: rgb(226, 158, 60);
}

.function-call {
    color: rgb(226, 158, 60);
}

.code-cpp {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ebe9e1;
    overflow: auto;
}

.code-cpp.dark-mode {
    background-color: transparent;
}

.code-cpp:hover {
    border: 1px solid tomato;
}