*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body.dark-mode {
    background-color: #20262e;
    color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.docs-section ul li{
    list-style-type: disc;
}

.docs-section ul {
    padding-left: 1.25rem;
}

.docs-middle-content > p{
    margin-bottom: 1rem;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.docs-section{
    display: flex;
    padding-top: 4rem;
}

.docs-aside-left{
    width: 20%;
    padding: 10px 30px;
    border-right: 1px solid #e9ecef;
}

.docs-middle-content{
    outline: 1px solid #e9ecef;
    width: 60%;
    padding: 0 5rem;
}

.docs-aside-right{
    width: 20%;
}

.code-cpp{
    background-color: #f6f6f7;
    border-radius: 5px;
    border: 1px solid #ebe9e1;

}

.code-cpp:hover{
    border: 1px solid tomato;
}


.break-line{
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #d8d3c4;
    margin: 3rem 0px;
}

.next-page-section{
    display: flex;
    margin-bottom: 3rem;
    gap: 3rem;
    padding: 0 3rem;
}

.next-page-section > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem;
    width: 100%;
    border: 1px solid #d8d3c4;
    font-size: 0.8rem;
    border-radius: 10px;

}

.next-page-section > div:hover{
    border: 1px solid tomato;

}