*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body.dark-mode {
    background-color: #20262e;
    color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


li {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: inherit;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 200px;

}

.bxs-flame{
    color: #ff6347;
    font-size: 2rem;
    margin-right: 10px;
}

/* Header */

header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

header.dark-mode {
    background-color: #20262e;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li:hover{
    color: tomato;
}

.content-body {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.menu nav ul li a {
    padding: 0 12px;
    line-height: 72px;
    display: flex;
}



/* search */

.search {
    background-color: #fcfbfa;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid transparent;
    padding-left: 1.6rem;
}

.search-box{
    position: relative;
}
.bx-search{
    color: #747373;
    position: absolute;
    left: 0.5rem;
    top: 53%;
    transform: translate(0, -50%);
}
.search:focus{
    border: 1px solid tomato;
    outline: none;
}
.search:hover{
    border: 1px solid tomato;
}

.search.dark-mode {
    background-color: #1d2228;
    color: #d1d5dbd0;
}



/* social */
.social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social ul {
    display: flex;
}

.social ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    line-height: 24px;
}

.social ul li a i {
    font-size: 1.5rem;
}


.social::before {
    content: '' ;
    width: 1px;
    height: 24px;
    display: inline-block;
    background-color: #8e8e93;
    margin: 0 1rem;
}




/* Switch */
.switch {
    width: 2rem;
    height: 1.3rem;
    border-radius: 10px;
    border: 1px solid rgba(60, 60, 67, .29);
    background-color: #f6f6f7;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bx-sun , .bx-moon {
    font-size: 0.8rem;
}

.switch:hover {
    border: 1px solid #8e8e8e;
}

.switch.active:hover {
    border: 1px solid #8e8e8e;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1000px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s;
}

.switch.active .icon {
    transform: translateX(0.7rem);
    background-color: #1d2228;
}

.switch.active {
    background-color: #313136;
    border: 1px solid rgb(72, 72, 77);
    color: white;
}

.icon .on {
    display: none;
}


.switch.active .icon .on {
    display: inline;
}

.switch.active .icon .off {
    display: none;
}


.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button::before {
    content: '';
    width: 1px;
    height: 24px;
    display: inline-block;
    background-color: #8e8e93;
    margin: 0 1rem;
}



/* hero section */

.hero-section{
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: 0 auto;

}

.hero-heading{
    color: #ff6347;
}

.hero-section .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 1140px; */
    width: 78%;
    height: 600px;
    gap: 1rem;
    line-height: 2rem;
}

.hero-image{
    display: flex;
    align-items: center;
}

.hero-content , .hero-image{
    padding: 30px;
}

/* grid */
.grid {
    width: 78%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto 300px auto;
    gap: 1rem;
    padding: 1rem;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    text-align: center;
}

.card-1{
    grid-row: 1;
    grid-column: 1 / span 3;
    font-size: 2rem;
}

.card-2{
    grid-row: 2;
    grid-column: 1 / span 3;
}
.card-3  ,.card-4  ,.card-5 {
    padding: 4rem;
}
.card-6  ,.card-7  ,.card-8 {
    font-size: 1.3rem;
    font-weight: 500;
}
/* line */
.horizontal-line{
    display: block;
    width: 78%;
    height: 1px;
    background-color: #8e8e93;
    margin: 3rem auto 3rem auto; 
}

/* section-services */

.section-services{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: 400px 400px;
    width: 78%;
    margin: 0 auto;
}

.section-services > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
}